<div ng-controller="OPTEN.Backoffice.Localization.Migration.Controller" class=" umb-editor-wrapper">
	<umb-load-indicator ng-if="loading"></umb-load-indicator>

	<div class="umb-editor-container umb-panel-body umb-scrollable">
		<div class="umb-pane">
			<div ng-if="!loading">
				<div ng-repeat="contentType in model" id="{{contentType.alias}}" class="content-type">
					<div ng-show="contentType.properties.length">
						<h4>{{contentType.name}} <small>Document Type</small></h4>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Property Group</th>
									<th>Property Name</th>
									<th>Property Editor</th>
									<th>Localize?</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="property in contentType.properties">
									<td>{{property.group}}</td>
									<td>
										{{property.name}}
										<br />
										<small>{{property.alias}}</small>
									</td>
									<td>{{property.propertyEditorAlias}}</td>
									<td>
										<input type="checkbox" ng-model="property.localize" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="umb-tab-buttons umb-editor-drawer">
		<div class="umb-editor-drawer-content">
			<div class="umb-editor-drawer-content__left-side">
				<select class="content-type-dropdown"
						ng-model="selectedItem"
						ng-change="goToDocType(selectedItem)"
						ng-options="contentType.name for contentType in model track by contentType.alias"></select>
			</div>
			<div class="umb-editor-drawer-content__right-side">
				<button class="btn btn-primary" type="button" ng-click="save(model)">
					Migrate
				</button>
				<button class="btn btn-primary" type="button" ng-click="migrateAllContentTypes()">
					Migrate ALL
				</button>
			</div>
		</div>
	</div>
</div>