@using Opten.Umbraco.Localization.Web.Extensions
@{
	Layout = null;
}<!doctype html>
<html>
<head>
	<title>Error 404 | Localization</title>
</head>
<body>

	<header>
		Your language is: @Request.GetCurrentUICulture().Name
		<br />
		Thread's is: @System.Threading.Thread.CurrentThread.CurrentUICulture
	</header>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<p>
		Error 404
	</p>

	<footer>
		Error 404
	</footer>

</body>
</html>