@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Opten.Umbraco.Localization.Web.Extensions
@{
    Layout = null;
}

<p>
	Your language is: @Request.GetCurrentUICulture().Name
	<br />
	Thread's is: @System.Threading.Thread.CurrentThread.CurrentUICulture
</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<p>
	Umbraco Forms Test
</p>
@{
	Html.RenderAction("Render", "UmbracoForms", new { formId = "d8f9d8a7-2f90-46aa-85e0-a758bac1d1fc" });
}