<div ng-controller="OPTEN.Backoffice.UrlAlias.Controller as urlAlias">
	<ng-form name="urlAliasForm">
		<div class="umb-property"
			 ng-repeat="language in $root.languages"
			 ng-show="urlAlias.loadings.length == 3 && states.isEnabled && states.isPublished && states.hasHostnames == false && urlAlias.getIndex(language.isoCode) >= 0">
			<div class="url-alias-wrapper">
				<span class="url-alias-iso-code">{{ language.isoCode }}</span>

				<input name="urlAlias_{{ language.isoCode }}"
					   class="umb-panel-header-name-input"
					   type="text"
					   ng-keyup="urlAlias.checkAvailability(urlAlias.getIndex(language.isoCode))"
					   ng-model="urls[urlAlias.getIndex(language.isoCode)].name"
					   data-val-highlight="urls[urlAlias.getIndex(language.isoCode)].hasError" />

				<div class="umb-panel-header-alias url-alias-alias-wrapper">

					<span class="umb-locked-field__input url-alias-alias">
						<i class="umb-locked-field__lock-icon icon-lock" ng-if="urls[urlAlias.getIndex(language.isoCode)].url.length > 0"></i>
						{{urls[urlAlias.getIndex(language.isoCode)].url}}
					</span>
				</div>
			</div>
		</div>
	</ng-form>

	<div ng-show="states.isPublished && urlAlias.loadings.length < 3">
		Loading...
	</div>

	<div ng-show="urlAlias.loadings.length == 3 && states.isEnabled == false">
		<div class="alert alert-block alert-danger">
			URL Localization is not enabled [OPTEN:localization:aliasUrlProvider]!
		</div>
	</div>

	<div ng-show="urlAlias.loadings.length == 3 && states.isEnabled && states.isPublished && states.hasHostnames">
		<div class="alert alert-block alert-info">
			This content has hostnames. Therefore you can't set any url alias!
		</div>
	</div>

	<div ng-show="states.isPublished == false">
		<div class="alert alert-block alert-info">
			You have to publish this content first to set localized URLs.
		</div>
	</div>
</div>